[submodule "udacity-project-3"]
	path = udacity-project-3
	url = https://github.com/CFCIfe/udacity-project-3
[submodule "udapeople-microsvc"]
	path = udapeople-microsvc
	url = https://github.com/CFCIfe/udapeople-microsvc
[submodule "ci-cd-final-infra"]
	path = ci-cd-final-infra
	url = https://github.com/CFCIfe/ci-cd-final-infra
[submodule "Udagram-Cloud_Formation"]
	path = Udagram-Cloud_Formation
	url = https://github.com/CFCIfe/Udagram-Cloud_Formation
[submodule "Static-Web-app-ARM"]
	path = Static-Web-app-ARM
	url = https://github.com/CFCIfe/Static-Web-app-ARM
[submodule "start-stop-vm"]
	path = start-stop-vm
	url = https://github.com/CFCIfe/start-stop-vm
